@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin:0px;
    font-family: "Azeret Mono", monospace;
}

#nav1{
    font-size: 25px;
    font-weight: 700;
    color:#0D1321 ;
    margin: 50px auto 48px auto;
}

#nav2{
    font-size:20px ;
    font-weight:900 ;
    color:#0D1321 ;
    padding: 17px 24px;
    border-radius: 8px;
    margin: 38px auto 36px;
    border-color: #0D1321;
}
.head1{
    display:flex;
   justify-content: space-around;
}

#img1{
    width:240.28px;
    height: 240px;
}
.nav3{
    text-align: center;
}
.nav4{
    justify-content: center;
}

#nav5{
    font-size: 48px;
    font-weight: 900;
    color: #0D1321;
    width: 998px;
    text-align: center;
    margin: 24px auto 32px;
}
#nav6{
    font-size:16px ;
    font-weight: 400;
    color: #0D1321;
    width: 852px;
    text-align: center;
    margin: 0px auto 32px;
}
#nav7{
    background-color: #0D1321;
    border-radius: 8px;
    margin:0px 37%;
    padding: 21px 24px; 
    
}
#nav8{
    color:#FFFFFF;
    text-decoration: none;
    font-weight:800 ;
    font-size: 20px;
}
.nav9{
    width: 998px;
    height: 581px;
    margin: 30px auto 35px;
}

.head2{
    max-width: 1440px;
    height: 652px;
    margin:0px auto 74px;
    background-image:url(assets/Hero-bg.png);
}
.main1{
    width:1140px;
    height: 1393px;
    background-color: rgba(13, 19, 33, 0.02);
    
    margin: 0px auto 90px;
}
#nav10{
    font-size: 32px;
    font-weight: 800;
    color:#0D1321 ;
    width: 852px;
    height: 37px;
    margin: 0px 32% 24px;
    padding-top: 50px;

}
#nav11{
    font-size: 16px;
    font-weight: 400;
    color:#0D1321 ;
    width: 852px;
    height: 113px;
    margin: 0px auto 24px;
    text-align: center;
}
.nav12{
   
    
}
#nav13{
    width: 477px;
    font-size: 24px;
    font-weight: 800;
    color: #0D1321;
    margin:10px auto 16px 0px;
    text-align:start;
}
#nav14{
    font-size: 16px;
    font-weight: 400;
    color: #0D1321;
    width: 468px;
}
#nav15{
    font-size: 20px;
    font-weight: 600;
    color: #0D1321;
    width: 150px;
    height:40px ;
    margin-top: 32px;

}
#nav16{
    width: 274.17px;
    height: 240px;
    
}

.nav17{
    width: 946px;
    height: 336px;
    background-color:#FFFFFF ;
    margin: 0px auto 32px; 
    
}
.nav18{
    padding: 48px;
    display: flex;
    justify-content: space-between;
}
.nav19{
    width: 946px;
    height: 336px;
    background-color:#FFFFFF ;
    display: flex;
    margin:32px auto;
    padding: auto 20px 30px;
    justify-content: space-evenly;
}
.nav22{
    width: 946px;
    height: 336px;
    background-color:#FFFFFF ;
    margin: 0px auto 32px; 
}

.nav23{
    width: 946px;
    height: 336px;
    background-color:#FFFFFF ;
    display: flex;
    margin:32px auto;
    padding: auto 20px 30px;
    justify-content: space-evenly;
}
.nav24{
    display: flex;
    justify-content:  space-around;
    padding: 48px;
}
.dip{
    margin-right: 70px;
}
